<button class="button-manage btn-sm" style="--clr: #b966e7;" data-toggle="aside">
    <span class="button-decor"></span>
    <div class="button-content">
        <div class="button__icon__add">
            <div class="button__icon">
                <i class="fa-sharp-duotone fa-solid fa-circle-left" style="color: #ffffff;"></i>
            </div>
        </div>
        <span class="button__text">{{#str}}ButtonSplitView,format_edukav{{/str}}</span>
    </div>
</button>