  <div class="edukav-welcome-copy">
    <h3 class="edukav-welcome-title">
      {{welcomeprefix}}
      {{#showcoursename}}{{#coursesEdukav}}<span>{{fullname}}</span>{{/coursesEdukav}}{{/showcoursename}}
    </h3>
    <p class="edukav-welcome-text">
      {{welcomemessage}}
    </p>
  </div>
  {{#generalnavigation}}
    <div class="edukav-welcome-actions">
      <a href="{{{homeurl}}}"
        class="btn edukav-section-nav-btn edukav-section-general-nav-btn-home"
        data-action="coursehomebutton"
        title="{{homename}}">
        <span class="edukav-section-nav-icon">
          {{#pix}}i/home, core, {{homename}}{{/pix}}
        </span>
      </a>
      {{#hasnext}}
        <a href="{{{nexturl}}}"
          class="btn edukav-section-nav-btn edukav-section-nav-btn-next"
          data-action="nextsection"
          title="{{buttonlabel}}">
          <span class="edukav-section-nav-text">{{buttonlabel}}</span>
          <span class="edukav-section-nav-icon">
            <span class="dir-rtl-hide">
              {{#pix}}t/right, moodle, {{#str}}gotosection, format_edukav, {{nextname}}{{/str}}{{/pix}}
            </span>
            <span class="dir-ltr-hide">
              {{#pix}}t/left, moodle, {{#str}}gotosection, format_edukav, {{nextname}}{{/str}}{{/pix}}
            </span>
          </span>
        </a>
      {{/hasnext}}
    </div>
  {{/generalnavigation}}
