.format-edukav .course-content .card-deck.cards {
    justify-content: center;
}

.format-edukav .course-content ul.cards {
    padding: 0;
}

.format-edukav .dashboard-card-deck .dashboard-card {
    margin-bottom: .5rem;
    width: 100%;
    min-width: 350px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.format-edukav .dashboard-card-deck {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-right: 40px;
    margin-right: -.25rem;
    margin-left: -.25rem;
}

.format-edukav .subsectionsascards .activity.subsection > .activity-item {
    border: 0;
}

@media (min-width: 576px) {
    .format-edukav .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        width: calc(50% - 0.5rem);
    }
}

@media (min-width: 768px) {
    .format-edukav .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        width: calc(33.33% - 0.5rem);
    }
}

@media (min-width: 992px) {
    .format-edukav .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        width: calc(25% - 0.5rem);
    }
}

.format-edukav .course-content .card-deck .card {
    aspect-ratio: 5 / 7;
    border: none;

    max-width: 325px;
}
.format-edukav .course-content .card-deck .card.card-horizontal {
    aspect-ratio: 7 / 5;

    max-width: 350px;
}
.format-edukav .course-content .card-deck .card.card-square {
    aspect-ratio: 1 / 1;
    max-width: 400px;
}

.format-edukav .course-content .card-deck .card.highlighted {
    box-shadow: 0 0 10px var(--primary, #0f6cbf);
}

.format-edukav .course-content .card-deck .card.highlighted .card-overlay {
    box-shadow: 0 0 20px var(--primary, #0f6cbf) inset;
}

.format-edukav .course-content .card-deck .card .card-main-content {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.format-edukav .course-content .card-deck .card .card-main-content,
.format-edukav .course-content .card-deck .card {
    border-radius: .5em;
}

.format-edukav .course-content .card-deck .card .card-main-content .card-img-top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .4s;
}

.format-edukav .course-content .card-deck .card:hover .card-main-content .card-img-top,
.format-edukav .course-content .card-deck .card .card-main-content:focus-visible .card-img-top {
    transform: scale(1.1);
}

.format-edukav .course-content .card-deck .card .card-header {
    background: rgba(0, 0, 0, 0.6);
    border: 0;
}
.format-edukav .course-content .card-deck .card.card-horizontal .card-header {
    padding-top: 0;
}

.format-edukav .course-content .card-deck .card .card-header .card-title {
    margin: 0;
}

.format-edukav .course-content .card-deck .card .card-header .card-title,
.format-edukav .course-content .card-deck .card .card-header a,
.format-edukav .course-content .card-deck .card .card-header .summary {
    color: #fff !important;
}

.format-edukav .course-content .card-deck .card .card-header .summary {
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    max-height: 6rem;
    line-height: 1.5rem;
    text-overflow: ellipsis;
    font-weight: normal;
}

.format-edukav .course-content .card-deck .card.card-horizontal .card-header .summary {
    -webkit-line-clamp: 2;
    max-height: 3rem;
    margin-top: .25rem;
}

.format-edukav .course-content .card-deck .card .card-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.format-edukav .course-content .card-deck .card .card-overlay .card-header-fade {
    flex: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6));
}
.format-edukav .course-content .card-deck .card.card-horizontal .card-overlay .card-header-fade {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.6));
}

.format-edukav .course-content .card-deck .card .card-header-fade .section-completion,
.format-edukav .course-content .card-deck .card .card-header-fade .section-availability {
    position: absolute;
    top: 0;
    margin: 0.5rem;
    padding: 0.35rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border: 0;
}

.format-edukav .course-content .card-deck .card .card-header-fade .section-completion {
    right: 0;
}

.format-edukav .course-content .card-deck .card .card-header-fade .section-availability {
    left: 0;
}

.format-edukav .course-content .card-deck .card .card-header-fade .section-completion svg {
    position: absolute;
    transform: rotate(-90deg);
    width: 3rem;
    height: 3rem;
}

.format-edukav .course-content .card-deck .card .card-header-fade .section-completion svg circle.outer {
    stroke: #e6e6e6;
    stroke-width: 5;
    fill: none;
}

.format-edukav .course-content .card-deck .card .card-header-fade .section-completion svg circle.inner {
    stroke: #357a32;
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 100;
}

.format-edukav .course-content .card-deck .card .card-header-fade .section-completion svg circle.inner.complete {
    stroke-dasharray: 0;
}

.format-edukav .empty-placeholder-image-lg {
    height: 5rem;
}

.format-edukav .single-section .course-section {
    border: none;
}

.format-edukav .course-content .single-section .section-navigation {
    margin-bottom: unset;
}

.format-edukav .course-content .card-deck .card .card-img-top {
    transition: 0.4s filter ease-in-out;
}

.format-edukav .course-content .card-deck .card:hover .card-img-top,
.format-edukav .course-content .card-deck .card .card-main-content:focus-visible .card-img-top {
    filter: brightness(110%);
}
.format-edukav .course-content .card-deck .card.hiddenfromstudents .card-img-top {
    filter: blur(1px) grayscale(80%);
}
.format-edukav .course-content .card-deck .card.hiddenfromstudents:hover .card-img-top,
.format-edukav .course-content .card-deck .card.hiddenfromstudents .card-main-content:focus-visible .card-img-top {
    filter: grayscale(75%);
}

.format-edukav .course-content .card-deck .section.course-section {
    width: 100%;
}

.format-edukav .course-content .card-deck .section-break {
    list-style: none;
    display: block;
    width: 100%;
}

@media (max-width: 576px) {

    .format-edukav .course-content .card-deck .card .card-header .card-title {
        /** Try to make card titles responsive on smaller devices */
        font-size: min(3rem, 16vw);
    }
}

.format-edukav .course-content .section-item .activity:first-of-type {
    border: none;
}
