<div id="sectionnavigation-top" class="section-navigation navigationtitle edukav-section-navigation-bar edukav-general-navigation">
  <div class="prevsection">
    <a href="{{{homeurl}}}"
       class="btn edukav-section-nav-btn edukav-section-nav-btn-home"
       data-action="coursehomebutton"
       title="{{homename}}">
      <span class="edukav-section-nav-icon">
        {{#pix}} i/home, core, {{homename}} {{/pix}}
      </span>
    </a>
  </div>
  <div class="edukav-general-navigation-center">
    <span class="edukav-general-navigation-title">{{{title}}}</span>
  </div>
  <div class="nextsection">
    {{#hasnext}}
      <a href="{{{nexturl}}}"
         class="btn edukav-section-nav-btn edukav-section-nav-btn-next{{#nexthidden}} text-muted{{/nexthidden}} btn-sm"
         data-action="nextsection"
         title="{{#str}}gotosection, format_edukav, {{nextname}}{{/str}}">
        <span class="edukav-section-nav-text">{{#str}}navigation:nextmodule, format_edukav{{/str}}</span>
        <span class="edukav-section-nav-icon">
          <span class="dir-rtl-hide">
            {{#pix}}t/right, moodle, {{#str}}gotosection, format_edukav, {{nextname}}{{/str}}{{/pix}}
          </span>
          <span class="dir-ltr-hide">
            {{#pix}}t/left, moodle, {{#str}}gotosection, format_edukav, {{nextname}}{{/str}}{{/pix}}
          </span>
        </span>
      </a>
    {{/hasnext}}
  </div>
</div>
