{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content/sectionselector

    Displays the course section navigation.

    Example context (json):
    {
        "hasprevious": true,
        "previousurl": "#",
        "larrow": "&#x25C4;",
        "previousname": "Section 3",
        "hasnext": true,
        "rarrow": "&#x25BA;",
        "nexturl": "#",
        "nextname": "Section 5",
        "selector": "<select><option>Section 4</option></select>"
    }
}}
<div id="sectionnavigation-bottom" class="section-navigation mdl-bottom edukav-section-navigation-bar">
    <div class="prevsection">
        {{#hasprevious}}
            <a href="{{{previousurl}}}"
               class="btn edukav-section-nav-btn edukav-section-nav-btn-prev{{#previoushidden}} text-muted{{/previoushidden}}"
               data-action="previoussection"
               title="{{#str}}gotosection, format_edukav, {{previousname}}{{/str}}">
                <span class="edukav-section-nav-icon">
                    <span class="dir-ltr-hide">
                        {{#pix}}t/right, moodle, {{#str}}gotosection, format_edukav, {{previousname}}{{/str}}{{/pix}}
                    </span>
                    <span class="dir-rtl-hide">
                        {{#pix}}t/left, moodle, {{#str}}gotosection, format_edukav, {{previousname}}{{/str}}{{/pix}}
                    </span>
                </span>
                <span class="edukav-section-nav-text">{{#str}}previous, core{{/str}}</span>
            </a>
        {{/hasprevious}}
    </div>
    <div class="section-selector">
        {{{selector}}}
    </div>
    <div class="nextsection">
        {{#hasnext}}
            <a href="{{{nexturl}}}"
               class="btn edukav-section-nav-btn edukav-section-nav-btn-next{{#nexthidden}} text-muted{{/nexthidden}}"
               data-action="nextsection"
               title="{{#str}}gotosection, format_edukav, {{nextname}}{{/str}}">
                <span class="edukav-section-nav-text">{{#str}}next, core{{/str}}</span>
                <span class="edukav-section-nav-icon">
                    <span class="dir-rtl-hide">
                        {{#pix}}t/right, moodle, {{#str}}gotosection, format_edukav, {{nextname}}{{/str}}{{/pix}}
                    </span>
                    <span class="dir-ltr-hide">
                        {{#pix}}t/left, moodle, {{#str}}gotosection, format_edukav, {{nextname}}{{/str}}{{/pix}}
                    </span>
                </span>
            </a>
        {{/hasnext}}
    </div>
</div>
